body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%;
	margin: 0;
}

#map {
	width: 80%;
	height: 100%;
	float: none;
	z-index: 1;
	position: relative;
	margin: auto;
}

#rightside1 {
	width: 40%;
	height: 33.33%;
	position: relative;
	margin: auto;
	background-color: white;
	padding-left:20px;
	padding-top:30px;
}

#rightside svg {
	border: 2px solid black;
}

#scatterplot svg g .legend{
	margin-left: 200px;
}

.zoom {
  background-color: white;
  transition: transform .2s;
  width: 200px;
  height: 200px;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.cloud svg {
	border: 1px solid grey;

}
